<div class="ssHUDView" dojoAttachPoint="_panelNode">
  <img src="${_logoImage}" alt="${_logoLabel}" style="float: right; height: 32px;"/>
  <table class="ssHUDViewBox">
    <tbody>
      <td class="ssHUDViewCell"><img src="${_shipsImage}" alt="${_shipsLabel}" title="${_shipsLabel}" class="ssHUDViewLabel"/> <span class="ssHUDViewValue" dojoAttachPoint="_shipsNode"></td>
      <td class="ssHUDViewCell"><img src="${_shieldsImage}" alt="${_shieldsLabel}" title="${_shieldsLabel}" class="ssHUDViewLabel"/> <span class="ssHUDViewValue" dojoAttachPoint="_shieldsNode"></td>
      <td class="ssHUDViewCell"><img src="${_ammoImage}" alt="${_ammoLabel}" title="${_ammoLabel}" class="ssHUDViewLabel"/> <span class="ssHUDViewValue" dojoAttachPoint="_ammoNode"></td>
    </tbody>
  </table>
</div>