<div tabindex="0" dojoAttachEvent="onkeypress:onKeyPress" dojoAttachPoint="_panelNode">
  <div class="ssStatusView">
    <div class="ssStatusViewBox">
      <div class="ssStatusViewMessages">
        <span class="ssStatusViewText" dojoAttachPoint="_changeMessageNode"></span>
        <br />
        <span class="ssStatusViewText" dojoAttachPoint="_statusMessageNode"></span>
        <br /><br />
        <span class="ssStatusViewText" dojoAttachPoint="_nextMessageNode"></span>
      </div>
    </div>
  </div>
</div>